body {
    background-color: grey;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 960px;
    border: 4px solid darkblue;
    margin: 10em auto;
    /*padding: 1em;*/
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    background-color: lightblue;
    grid-column: span 12;
    background-image: linear-gradient(to right, #0060b7, #0060b7, #0060b7, #0060b7, #0060b7);
    color: lightblue;
    padding: 20px 0 0 20px;
    font-style: italic;
}

header a {
    color: lightblue;
    text-decoration: none;
}

header a:hover {
    color: red;
}


h2 {
    color: darkblue
}

.floatimg {
 float: left;
border: 2px solid blue;
margin-right: 24px;
margin-bottom: 5px;
width: 350px;
}

.floatimgpage2 {
float: right;
border: 2px solid blue;
margin-right: 24px;
width: 350px;
}

nav {
    grid-column: span 12;
    background-image: linear-gradient(to right, #0060b7, #0060b7, #0060b7, #0060b7, #0060b7);
    padding-bottom: 2px;
    }


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;   
}


nav li {
    border: 1px solid white;
    width: 235px;
    /*margin: 10px;*/
    /*background-color: blue;*/
    background-image: linear-gradient(to right, #0060b7, #0060b7, #0060b7, #0060b7, #0060b7);
    display: inline-block;
    text-align: center;
}

nav li a {
    color: white;
    
    text-decoration: none;
    display: block;
    padding: 10px;
    
}

nav li a:hover {
    background-color:blue;
    color:red;
    font-weight: bold;
}

.borderbottom {
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

main {
    grid-column: span 8;
    margin: 0px 10px 0px 10;
}

main a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

main a:hover {
    color: red;
    text-decoration: underline;
}

.maincarmy3 {
    grid-column: span 4;
    margin-left: 10px;
    
}

.maincarmy3 a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.mainsydney3 {
    grid-column: span 4;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 10px;
    
}

.mainsydney3 a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}


.mainrichie3 {
    grid-column: span 4;
    margin-left: 10px;
}

.mainrichie3 a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.sizeimg3 {
    width: 285px;
}

.leftpage2{
    margin-left: 10px;
    margin-right: 10px;
}

.paddingpage2 {
    padding-top: 20px;
}

.Welcomeh2 {
    background-color: lightblue;
    grid-column: span 4;
    text-align: justify;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    margin-right: 10px;
}

.empty {
    color: black;
}




footer {
    border-top: 3px solid blue;
    background-color: red;
    color: white;
    grid-column: span 12;
}