body {
  background-color: #999999;
  font-family: "Roboto", sans-serif;
  
}

#wrapper {
  margin: 24px auto;
  width: 960px;
  border: 1px solid black;
  padding: 0px 0px 0px 0px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  
}

header {

  background-color: rgba(120, 147, 106, 1);
  grid-column: span 12;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 5px 0px 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  box-shadow: 10px 10px 10px #999;
  text-shadow: 2px 2px 2px silver;
  }

  nav {
    grid-column: span 12;
    padding-bottom: 2px;
    margin-left: 20px;
    }


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;   
    text-align: center;
    
}


nav li {
    border: 1px solid lightskyblue;
    width: 234px;
    /*margin: 10px;*/
    background-color: rgba(120, 147, 106, 1);
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    margin: 10px 30px ;
    background-color: rgba(120, 147, 106, 1);
    box-shadow: 10px 10px 10px grey;
    /*padding-left: 20px;
    padding-right: 20px;*/
}

nav li a {

  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  display: block;
  padding: 10px;
  text-shadow: 2px 2px 2px silver;
  transition: background-color 1.0s;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  }

nav li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
   
    
}


/*nav {
  grid-column: span 12;
  
   
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;  
}


nav li {
  text-transform: capitalize;
  margin: 10px;
  background-color: rgba(120, 147, 106, 1);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px 10px grey;
}

nav li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  display: block;
  padding: 10px;
  text-shadow: 2px 2px 2px silver;
  transition: background-color 1.0s;
  color: black;

  border-top-left-radius: 20px;
  border-bottom-right-radius: 10px;
  
}

nav li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  
} */

main {
  grid-column: span 12;
  background-color: rgba(120, 147, 106, 1);
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-bottom: 20px;
  
}

h2 {
  text-shadow: 2px 2px 2px silver;
}

article {
  grid-column: span 12;
  background-color: rgba(120, 147, 106, 1);
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

footer{
  grid-column: span 12;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(120, 147, 106, 1);
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}



.mainnut {
  grid-column: span 6;
  margin-left: 40px;
  background-color: rgba(120, 147, 106, 1);
  }

.mainnut p {
  margin-top: 90px;
}

.mainscrew {
  grid-column: span 6;
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 10px;
  background-color: rgba(120, 147, 106, 1);
}

.mainscrew p {
  margin-top: 100px;
}


.sizeimg {
  width: 300px;
  float: left;
  margin-right: 10px;
}

.mainscrew {
  float: left;
  margin-right: 10px;
}

.borderbottom {

  margin-left: 50px;
  margin-right: 10px;
}